<div class="row">
  <div class="section-title">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="stats-snapshot-big row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="stat-title">
      <p>DMS VEHICLE INVENTORY</p>
    </div>
    <div class="stat"></div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="stat-title">
      <p>DMS VEHICLE INVENTORY</p>
    </div>
    <div class="stat"></div>
  </div>
</div>
<div class="stats-snapshot row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="stat-title">
      <p>DMS VEHICLE INVENTORY</p>
    </div>
    <div class="stat"></div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="stat-title">
      <p>VECHILES ON THE LOT</p>
    </div>
    <div class="stat"></div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="stat-title">
      <p>VEHICLES OFF PREMISES</p>
    </div>
    <div class="stat"></div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="stat-title">
      <p>VEHICLES UNREGISTERED</p>
    </div>
    <div class="stat"></div>
  </div>
</div>
<div class="row">
  <div id="map-container">
    <div id="map"></div>
  </div>
</div>

<button class="btn btn-default" ng-click="getUser()">CLICK FOR USER</button>
