<div class="row">
  <div class="section-title">
    <h1>Admin Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary super-button" data-toggle="modal" data-target="#createUser">Create customer</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6 well">
    <div class="bs-example">
        <table class="table">
          <thead>
             <tr>
               <th>Username</th>
               <th>Role</th>
             </tr>
           </thead>
        </table>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="user in users track by $index">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{$index}}">
                <div class="panel-heading row">
                  <div class="col-md-6">{{user.username}}</div>
                  <div class="col-md-6">{{user.role}}</div>
                </div>
              </a>
                <div id="{{$index}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>this is for customer information</p>
                    </div>
                </div>
            </div>
        </div>
    	<p><strong>Note:</strong> All users with expandable info</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row well">
      <div id="super-map"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table st-table="users" st-safe-src="customers" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="firstName">first name</th>
			<th st-sort="lastName">last name</th>
			<th st-sort="birthDate">username</th>
			<th st-sort="balance">role</th>
		</tr>
		<tr>
			<th colspan="12">
				<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="user in users">
			<td>{{user.firstname}}</td>
			<td>{{user.lastname}}</td>
			<td>{{user.username}}</td>
			<td>{{user.role}}</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create new customer</h4>
      </div>
      <div class="modal-body well">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" ng-model="customer.name" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" ng-model="customer.address" placeholder="Address">
          </div>
          <div class="form-group">
            <label for="domain">Domain</label>
            <input type="text" class="form-control" id="domain" ng-model="customer.domain" placeholder="Domain">
          </div>
          <hr/>
          <label class="checkbox-inline">
            <input type="checkbox" id="admin" value="Admin"> Admin
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="manager" value="Manager"> Manager
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="user" value="User"> User
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="createCustomer(customer)">Save changes</button>
      </div>
    </div>
  </div>
</div>
