*{
  font-family: 'Open Sans', sans-serif;
}

*:focus{
  outline: none;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

[ui-view].ng-enter {
  opacity: 0; }

[ui-view].ng-enter-active {
  opacity: 1; }

[ui-view].ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/ }

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/ }


.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}


.section-title{
  @include drop-shadow(grey);
  h1{
    padding: 10px;
    font-size: 20px;
    color: $secondary-color;
  }
}

.right{
  float: right;
}

.stat-box{
  padding: 0px 3px 0px 3px;
  border-radius: 3px;
}

.background-green{
  background-color: green;
  color: white;
}

.background-red{
  background-color: red;
  color: white;
}

.background-info{
  background-color: $secondary-color;
  color: white;
}

.background-green{
  background-color: green;
  color: white;
}
